[Unit]
Description=StarlingX Maintenance Link Monitor

After=config.service
After=syslog-ng.service
Before=pmon.service

[Service]
Type=simple
ExecStart=/usr/local/bin/lmond
KillMode=process

[Install]
WantedBy=multi-user.target
