[Unit]
Description=StarlingX Hardware Monitor
After=network.target syslog.service

[Service]
Type=simple
ExecStart=/usr/local/bin/hwmond

Restart=no

[Install]
WantedBy=multi-user.target

