[Unit]
Description=StarlingX Maintenance Filesystem Monitor
After=network.target syslog.service config.service
Before=pmon.service

[Service]
Type=simple
ExecStart=/usr/local/bin/fsmond

# Failure handling
TimeoutStartSec=10s
TimeoutStopSec=10s

# restarted by pmon
Restart=no
RestartSec=5

[Install]
WantedBy=multi-user.target
